*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: middle;}
html,body{
    height: 100%;
}

#activesonglist{
    width:100%;
    height: 1000px;

}
#activesonglist #information{
    width:100%;
    height: 100px;
    margin-top: 20px;
}
#activesonglist #information>p{
    color:#fff;
    margin-bottom: 30px;
    margin-left: 20px;
}
#activesonglist #information>p:nth-child(1){
    font-size: 16px;
    font-weight: 900;
}
#activesonglist #information>p:nth-child(2){
    font-size: 12px;
    line-height: 20px;
    width:300px;
    height: 100px;
    overflow: hidden;
    text-overflow:ellipsis;
    /*white-space: nowrap;*/
}
#activesonglist #white{
    background: rgba(255,255,255,.6);
    margin-top:150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#activesonglist #white>span:nth-child(1){
    display: block;
    width:30px;
    float: left;
    line-height: 30px;
    margin-left: 20px;
    font-size: 30px;
    margin-top: 20px;
}

#activesonglist #white>span:nth-child(2){
    display: block;
    width:120px;
    float: left;
    line-height: 30px;
    margin-left: 20px;
    font-size: 14px;
    color: #404040;
    margin-top: 20px;
}
#activesonglist #white>span:nth-child(3){
    display: block;
    width: 120px;
    float: right;
    line-height: 30px;
    margin-top: 20px;
    border:1px solid #ccc;
    background: #f00;
    color:#fff;
    text-align: center;
    border-radius: 20px;
    margin-right: 10px;
}


#activesonglist #white>ul{
    width:100%;
}
#activesonglist #white>ul>a>li{
    width:100%;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
    transform: translateY(5px);
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}
#activesonglist #white>ul>a>li>h4{
    width: 240px;
    font-size: 16px;
    float: left;
    line-height: 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color:#666;

}
#activesonglist #white>ul>a>li>h4>p{
    color:#f00;
    width: 200px;
    font-size: 10px;
    /*text-align: center;*/
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
#activesonglist #white>ul>a>li .iconfont{
    display: block;
    width:30px;
    height: 30px;
    float: left;
    font-size: 20px;
    transform: translateX(30px);
    line-height: 40px;
    color:#000;
}






#activesonglist #pic{
    width:100%;
    height: 50px;
    /*background: #f00;*/
    transform: translateY(150px);
}
#activesonglist #pic>ul{
    width:100%;
    height:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#activesonglist #pic>ul>li .iconfont{
    color:#f00;
}
#activesonglist #pic>ul>li>p {
    color: #f00;
}

